---
import "../styles/global.css";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
---

<BaseLayout>

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map((post: any) => (
          // <BlogPost url={post.url} title={post.frontmatter.title} />
          <BlogPost url={`/personal-blog/posts/${post.id}/`} title={post.data.title} />
        ))
      }
    </ul>
    <script>
      document.querySelector(".hamburger")?.addEventListener("click", () => {
        document.querySelector(".nav-links")?.classList.toggle("expanded");
      });
    </script>

</BaseLayout>
