---
import HeaderLink from "./HeaderLink.astro";
import DarkMode from "./DarkMode.astro";
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<header class="header">
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <DarkMode />
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    transition: background 0.3s ease-in-out; /* Smooth transition */
  }

  /* Dark mode header */
  html.dark header {
    background: rgb(27, 27, 39); /* Darker background */
    box-shadow: 0 2px 8px rgba(var(--gray), 25%);
  }

  html.dark nav a {
    color: var(--white); /* Change text color in dark mode */
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px; /* Moves the DarkMode button 10px from the right */
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent-light);
  }

  html.dark nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent-dark);
  }

  /* Smooth transition for links */
  nav a,
  html.dark nav a {
    transition: color 0.3s ease-in-out;
  }

  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
