---
import HeaderLink from "./HeaderLink.astro";
import DarkMode from "./DarkMode.astro";
import HamburgerMenu from "./HamburgerMenu.astro";
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<header class="header">
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/tags">Tags</a>
    </div>
    <div class="hello">
      <DarkMode />
      <!-- Mobile Toggle Button -->
       <HamburgerMenu />
    </div>
  </nav>
</header>


<style>
  .hello {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative; /* Ensures dropdown is positioned relative to this container */
  }

  header {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255, 0.5);
    /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */
    backdrop-filter: blur(9px); /* Apply blur effect */
    transition: background 0.3s ease-in-out; /* Smooth transition */
    position: sticky;
    top: 0;
  }

  /* Dark mode header */
  html.dark header {
    /* background: rgba(22, 22, 29, 0.5); */
    background: rgba(30, 31, 40, 0.5);

    /* box-shadow: 0 2px 8px rgba(var(--gray), 25%); */
  }

  html.dark nav a {
    color: var(--white); /* Change text color in dark mode */
  }

  nav {
    width: 900px;
    max-width: calc(100% - 2em); /* Ensures responsiveness */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

h2 {
  font-size: 1.2rem; /* Reduce title size if it's too big */
  margin: 0; /* Remove unwanted margins */
}

  /* Hamburger Button */
  

  @media (max-width: 720px) {
    .internal-links {
      display: none;
    }

  }
</style>
